@page
@model RazorWebApp01.Pages.Knowledge.DetailsModel

@{
    ViewData["Title"] = "Details";
    string imgsrc = "/imagesUploaded/"; // + (Model.Nt.pics??"no_image.jpg");
}

<h1>msg @Model.msg</h1>
<h4>u got mark: @Model.got_mark</h4>
<h4>nid: @Model.nId</h4>


<div class="media">
    <input hidden asp-for="dId" />
    <input hidden asp-for="dExistingPhotoPath" />

    <img src="@imgsrc" class="w-25 align-self-start mr-3" alt="no img found">
    <div class="w-50 media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>@Model.pNt.text</p>
    </div>

    <form method="POST">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="submit" class="btn btn-secondary" asp-route-mark="1" asp-page-handler="Way">1</button>
                <button type="submit" class="btn btn-secondary" asp-route-mark="2" asp-page-handler="Way">2</button>
                <button type="submit" class="btn btn-secondary" asp-route-mark="3" asp-page-handler="Way">3</button>
                <button type="submit" class="btn btn-secondary" asp-route-mark="4" asp-page-handler="Way">4</button>
                <button type="submit" class="btn btn-secondary" asp-route-mark="5" asp-page-handler="Way">5</button>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">?</button>
                <button type="button" class="btn btn-secondary">Next</button>
            </div>
        </div>
    </form>

</div>



<div>
    <a asp-page="./Edit" asp-route-id="@Model.pNt.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
