@page
@model RazorWebApp01.Pages.Knowledge.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nt[0].text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nt[0].tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nt[0].pics)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Nt) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pics)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
