@page
@model RazorWebApp01.Pages.Knowledge.IndexModel

@{
    ViewData["Title"] = "Words index";
}

    <h3>@ViewData["Title"]</h3>


<table class="table" >
    <thead>
        <tr>
            <th>Word</th>
            <th>Translation</th>
            <th>Picture</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Nts) {
        <tr>
            <td>@item.word</td>
            <td>@item.translation</td>
            <td>@item.pics</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>}
    </tbody>
</table>
