@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.Photo"></label>
        </dt>
        <dd>
            <input asp-for="@Model.Photo" type="file">
            <span asp-validation-for="@Model.Photo"></span>
        </dd>
    </dl>
    <input class="btn border border-info" asp-page-handler="Upload"  type="submit" value="Upload file" multiple/>
</form>

<div asp-validation-summary="All" class="text-danger"></div>

<h2>Separate page model</h2>
<p>
    @Model.Message
</p>
